<div class="contact-info">
    <p>
        <a href="mailto:treymswain@gmail.com">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/trey-swain/" target="_blank">
            <img src="https://static.licdn.com/aero-v1/sc/h/akt4ae504epesldzj74dzred8" alt="LinkedIn"/>
        </a>
        <a href="https://github.com/tswain10" target="_blank">
            <img src="https://github.githubassets.com/favicons/favicon.svg" alt="Github"/>
        </a>
    </p>
</div>